*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* generals */
body{
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to top, #DBDBD2 80%, #009688 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 950px;
  height: 90%;
  display: flex;
}
.headers{
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.avatars{
  height: 100%;
  border-radius: 50%;
  padding: 5px;
}
a{
  color: #B1B1B1;
  margin-right: 15px;
}
/* /generals */
/* left_container */
.left_container{
  background-color: orange;
  flex-basis: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* left_header */
/* my_avatar_container */
.my_avatar_container{
  height: 100%;
  display: flex;
}
.my_logo_container{
  height: 100%;
}
.my_name_container{
  display: flex;
  align-items: center;
}
.my_name_container>h2{
  font-size: 12px;
  font-weight: 400;
}
/* /my_avatar_container */
/* icnos_container */
.icnos_container{
  display: flex;
  align-items: center;
}
/* /icnos_container */
/* /left_header */
/* notifications */
.nots_container{
  height: 60px;
  background-color: #8EDAFC;
  display: flex;
}
.left_nots{
  height: 100%;
  background-color: blue;
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bell-slash{
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
}
.right_nots{
  height: 100%;
  background-color: green;
}
/* /notifications */
/* /left_container */
.right_container{
  background-color: blue;
  flex-basis: 65%;
  height: 100%;
}
